@model OtlobProject.Models.MealsInMenu

@{
    //ViewData["Title"] = "ShowMealDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card" style="width:400px ;margin-left:40%;font-family: cursive;">
    <img class="card-img-top " src="~/images/@Model.Logo" alt="Card image" style="width:100% ;height:300px">
    <div class="card-body">
        <h1 style="text-align:center;font-size:30px ;color: #3d9970;font-family: cursive;">@Model.Name</h1>


        <hr style="width:80%" />
        <h5>@Model.Description</h5>
        @if (Model.IsMeal == true)
        {
            <h5>this Served as a Meal</h5>
        }
        <p class="text-info" style="text-align:center;font-size:25px">@Model.Price $</p>
        <br /><br />
        <hr style="width:80%" />

    </div>
    <a  asp-controller="User" asp-action="Details" asp-route-id="@Model.ID" class="btn btn-success btn-sm " style="text-align:center"><i class="fas fa-plus-square"></i></a>
</div>
<div style="text-align:center">
    <a href="/User/ShowMenu/@Model.RestID" class="btn btn-secondary btn-sm " style="text-align:center">Back</a>
</div>
    



