@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header style="text-align:center">
   
    <h4 style="color: #3d9970;font-family: cursive;">You have successfully logged out of the application.</h4>
    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary" >Login <i class="fas fa-sign-in-alt"></i></a>
</header>